*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  background: #fff;
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
}

/* 钟表样式 */

.clock {
  display: inline-block;
}

.clock .time-box {
  display: inline-block;
  margin: 0 10px;
}

.clock .time-box .time {
  color: #666;
  font-size: 48px;
  line-height: 130px;
}

.clock .time-box .time-info {
  color: #ccc;
  font-size: 25px;
  margin-left: 5px;
}

/* 圆环样式 */

.circle {
  position: relative;
  width: 130px;
  height: 130px;
  text-align: center;
}

.hourCircle,
.minuteCircle,
.secondCircle {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  stroke-dasharray: 255%;
  stroke-dashoffset: 25%;
  stroke: #6fec6f;
  fill: none;
  transform: rotate(-90deg);
}

/* 时、分、秒的进度条颜色分别为#6FEC6F、#8CECBF、#F3AFAF */

.clock .minute #minuteCircle {
  stroke: #8cecbf;
}

.clock .second #secondCircle {
  stroke: #f3afaf;
}

/* 环形进度条动画 */

.transition-rotate {
  transition: all 2s;
}
